$total-items: 5;

body {
    text-align: center;
    margin: 200px;
    background-image: url("paxson-woelber-534784-unsplash.jpg");
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #373a37;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 225px;

}


.btn-group button {
    background-color: #696969;
    background-image:
    radial-gradient(
        circle,
        grey, #5E5E7E
      );
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    float: left; /* Float the buttons side by side */
    size: 10px;
    font-size: 60px;
    margin: 4px 2px;
    cursor: pointer; /* Pointer/hand icon */
    transition-duration: 0.4s;
    border-radius: 10px;
  }

  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }

  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }

  /* Add a background color on hover */
  .btn-group button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .btn-group button:focus {
    outline: 0;
    background-image:
    radial-gradient(
        circle,
        white, #ADC0D6
      );
  }

  .btn-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

/* CSS animate list: https://codepen.io/HJ-b/pen/yYNXmR */

  ul {
    width: 520px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 0px;
  }

  li {
    background-color: white;
    position: relative;
    display: block;
    border: none;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(27, 26, 26);
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
  }

  a {
    color: rgb(27, 26, 26);
    text-decoration: none;
  }

  // Set delay per List Item
  @for $i from 1 through $total-items {
    li:nth-child(#{$i}) {
      animation-delay: .05s * $i;
    }
  }

  // Keyframe animation
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
    }
    75% {
      opacity: 0.5;
      top: 0px;
    }
    100% {
      opacity: 1;
    }
  }
