body {
    text-align: center;
    margin: 300px;
    background-image: url("imani-clovis-214299-unsplash.jpg");
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.btn-group button {
    
    background-color: rgb(195, 199, 195); /* Green background */
    border: 1px solid rgb(255, 255, 255); /* Green border */
    color: white; /* White text */
    padding: 10px 15px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    size: 10px;
    font-size: 30px;
    
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #555755;
  }

  .btn-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }